

nav.navbar{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: 50px !important;
    width: auto !important;
}

.container-fluid {
  background-color: rgb(187, 242, 242) !important;
  padding: 0 2.5% !important;
  height: 50px !important;
}

.navbar-brand {
  color: rgb(201, 138, 61) !important;
  font-family: Georgia, 'Times New Roman', Times, serif !important;
}

a.navbar-brand{
  padding: 5px !important;
}

ul.navbar-nav{
  gap: 10px !important;
}